.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 535px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  margin: 245px auto 0 658px;
  padding: 10px 18px;
}

.u-section-1 .u-line-1 {
  height: 443px;
  transform-origin: center top 0px;
  left: 623px;
  top: 42px;
  position: absolute;
  width: 3px;
  border-style: solid;
  right: 514px;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  position: absolute;
  width: 539px;
  left: 31px;
  top: 115px;
  height: 3px;
  margin-right: 570px;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  position: absolute;
  width: 450px;
  height: 3px;
  left: auto;
  top: 177px;
  right: 32px;
  margin-left: 658px;
}

.u-section-1 .u-text-1 {
  margin: -211px 956px 0 33px;
}

.u-section-1 .u-text-2 {
  margin: 36px 230px 0 658px;
}

.u-section-1 .u-text-3 {
  margin: 17px 165px 0 658px;
}

.u-section-1 .u-form-1 {
  height: 295px;
  margin: -89px 570px 0 32px;
}

.u-section-1 .u-label-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-label-4 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 0.875rem;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: normal;
  font-family: 'Open Sans',sans-serif;
  background-image: none;
  display: inline !important;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: -56px auto 60px 236px;
  padding: 10px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-1 .u-btn-1 {
    text-transform: none;
    margin-top: 930px;
    margin-left: 458px;
  }

  .u-section-1 .u-line-1 {
    left: 570px;
    margin: 71px -97px 0 auto;
  }

  .u-section-1 .u-line-2 {
    margin-right: 402px;
    margin-top: 0;
    margin-left: 32px;
  }

  .u-section-1 .u-line-3 {
    left: 438px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -457px;
    margin-right: 800px;
    margin-left: 153px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -439px;
    margin-right: 388px;
    margin-left: 558px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: 65px;
    margin-left: 558px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 2px;
    margin-right: 502px;
    margin-left: 100px;
  }

  .u-section-1 .u-btn-4 {
    text-transform: none;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1062px;
    margin-left: 238px;
  }

  .u-section-1 .u-line-1 {
    left: 253px;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    margin-right: 192px;
  }

  .u-section-1 .u-line-3 {
    left: 218px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -589px;
    margin-right: 690px;
    margin-left: 263px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 431px;
    margin-left: 522px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 403px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 392px;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1194px;
    margin-left: 58px;
  }

  .u-section-1 .u-line-1 {
    left: 73px;
  }

  .u-section-1 .u-line-2 {
    margin-right: 12px;
    margin-left: 12px;
  }

  .u-section-1 .u-line-3 {
    left: 38px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -721px;
    margin-right: 600px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 466px;
    margin-left: 487px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 223px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 302px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1114px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    left: -127px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
    left: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -641px;
    margin-right: 537px;
    margin-left: 453px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -423px;
    margin-right: 505px;
    margin-left: 485px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -3px;
    margin-left: 23px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 400px;
    margin-right: 400px;
  }
}